.test-border {
  border: 1px solid red;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

a:hover {
  color: silver;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fugaz One", cursive;
  margin-top: 30px;
}

h1 {
  font-size: calc(3rem + 3vw);
  margin-bottom: 50px;
}

p {
  font-family: "Work Sans", sans-serif;
}

.fugaz-font {
  font-family: "Fugaz One", cursive;
}

.worksans-font {
  font-family: "Work Sans", sans-serif;
}

.small-text {
  font-size: smaller;
}

.strikethrough {
  text-decoration: line-through;
}

.pic-credit-text {
  color: #fff;
  position: relative;
  text-align: center;
  top: -60px;
  font-size: 8px;
}

.beer-pic {
  width: 30%;
}

.venue-pic {
  border-radius: 50% 20% / 10% 40%;
  border-style: none;
  border-width: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 60px;
}

.website-pic {
  width: 10%;
  border-radius: 50%;
  transition: all ease-in-out 0.75s;
}

.website-pic:hover {
  display: inline;
  width: 20%;
  border-radius: 50%;
  box-shadow: -9px 9px 5px silver;
}
