.test-border {
  border: 1px solid red;
}

body {
  background: white;
}

a {
  color: #6a6a6a;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

a:hover,
.menu-text a:hover,
.attributions a:hover {
  color: #c60f7b;
}

h1,
h2,
h2,
h4,
h5 {
  font-family: "Fugaz One", cursive;
  margin-top: 2rem;
}

h1 {
  font-size: calc(2.75rem + 3vw);
  margin-bottom: 3rem;
  overflow-wrap: break-word;
}

h2 {
  font-size: calc(1.2rem + 1.2vw);
}

h5 {
  font-family: "Fugaz One", cursive;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

p {
  font-family: "Work Sans", sans-serif;
}

li {
  font-size: 1.3rem;
}

li::marker {
  color: #c60f7b;
}

.magenta-dye {
  color: #c60f7b;
}

.dark-gray {
  color: #6a6a6a;
}

.lemon-butter {
  color: #ffe45e;
}

.fugaz-font {
  font-family: "Fugaz One", cursive;
}

.worksans-font {
  font-family: "Work Sans", sans-serif;
}

.summary-text p {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
}

.pic-credit-text {
  color: #fff;
  position: relative;
  text-align: center;
  top: -2rem;
  font-size: 0.75rem;
}

.pic-credit-text a {
  color: #fff;
}

.pic-credit-text a:hover {
  color: #c60f7b;
}

.strikethrough {
  text-decoration: line-through;
}

.beer-pic {
  width: 30%;
}

.venue-pic {
  border-radius: 50% 20% / 10% 40%;
  border-style: none;
  border-width: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 0;
  max-width: 95%;
  height: auto;
}

.website-pic {
  width: 10%;
  border-radius: 50% 20% / 10% 40%;
  transition: all ease-in-out 0.75s;
}

.website-pic:hover {
  display: inline;
  width: 20%;
  border-radius: 50%;
  box-shadow: -9px 9px 5px silver;
}

.menu {
  border: solid 0.75rem #ffe45e;
  background-color: #ffe45e;
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0;
}

.menu-text,
.menu-text a {
  text-align: right;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
  color: #000;
}

.ratings {
  max-width: 95%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: #c60f7b;
  color: #fff;
  border-radius: 1rem;
}

.ratings p {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: left;
}

.review-para p {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.attributions,
.attributions a {
  text-align: center;
  font-size: 2rem;
  font-family: "Fugaz One", cursive;
  color: #000;
  line-height: 1.5rem;
}

.attributions i {
  min-width: 5%;
}
